* {
  font-family: monospace;
}
header {
  background-color: rgb(59, 138, 184);
  display: flex;
  justify-content: space-around;
}

#nav-links {
  padding: 6px;
}

#title {
  font-size: 30px;
  padding-top: 1px;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(59, 138, 184);
  background-color: rgb(236, 232, 232);
  width: 550px;
  margin-top: 150px;
  margin-left: 440px;
}

#main-page-box {
  margin-top: 15px;
}

#sign-up {
  margin-left: 10px;
}
#log-in {
  margin-left: 10px;
}

#sign-in-box {
  height: 200px;
  margin-top: 10px;
}

#sign-in-user {
  font-size: 20px;
  margin-right: 140px;
  margin-bottom: 5px;
}

#sign-in-pass {
  font-size: 20px;
  margin-right: 140px;
  margin-bottom: 5px;
}

#sign-in-submit {
  margin-left: 120px;
}

input {
  width: 40%;
  height: 30;
}

#account-username {
  font-size: 20px;
  margin-right: 135px;
  margin-bottom: 5px;
}

#account-password {
  font-size: 20px;
  margin-right: 135px;
  margin-bottom: 5px;
}

#account-re-password {
  font-size: 20px;
  margin-right: 70px;
  margin-bottom: 5px;
}

#incoming {
  font-size: 20px;
  margin-right: 135px;
  margin-bottom: 5px;
}

#sent {
  font-size: 20px;
  margin-right: 170px;
  margin-bottom: 5px;
}

#create-new {
  font-size: 20px;
  margin-right: 100px;
  margin-bottom: 5px;
}

button {
  width: 108px;
  margin: 8px;
}

#register {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 100px;
}

#search {
  margin-left: 10px;
}

#browse-input {
  margin-left: 440px;
}

#browse-box {
  margin-top: 10px;
}

#submit {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 100px;
}

#message-submit {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 100px;
}

#p-name {
  font-size: 20px;
  margin-right: 170px;
  margin-bottom: 5px;
}

#p-email {
  font-size: 20px;
  margin-right: 160px;
  margin-bottom: 5px;
}

#p-username {
  font-size: 20px;
  margin-right: 130px;
  margin-bottom: 5px;
}

#p-location {
  font-size: 20px;
  margin-right: 120px;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}
